<div class="container" *ngIf="!loading">
    <h1>{{ product['title'] }}</h1>
    <div class="text-center">
      <img [src]="product['thumbnail']" alt="Product Image" class="product-image" />
    </div>
    <p><strong>Description:</strong> {{ product['description'] }}</p>
    <div class="d-flex justify-content-between mb-2">
      <p><strong>Category:</strong> {{ product['category'] }}</p>
      <p><strong>Price:</strong> ${{ product['price'] }}</p>
      <p><strong>Discount:</strong> {{ product['discountPercentage'] }}%</p>
      <p><strong>Rating:</strong> ⭐ {{ product['rating'] }}</p>
    </div>
  
    <h5 class="fw-semibold mb-2">Dimensions:</h5>
    <div class="d-flex justify-content-between mb-2">
      <p><strong>Width:</strong>{{ product['dimensions']?.width }} cm</p>
      <p><strong>Height:</strong> {{ product['dimensions']?.height }} cm</p>
      <p><strong>Depth:</strong>{{ product['dimensions']?.depth }} cm</p>
    </div>

  
    <h5 class="fw-semibold mb-2">Warranty & Shipping:</h5>
    <div class="d-flex justify-content-between mb-2">
      <p><strong>Warranty:</strong> {{ product['warrantyInformation'] }}</p>
      <p><strong>Shipping:</strong> {{ product['shippingInformation'] }}</p>
      <p><strong>Availability:</strong> {{ product['availabilityStatus'] }}</p>
    </div>

  
    <h5 class="fw-semibold">Return Policy:</h5>
    <p>{{ product['returnPolicy'] }}</p>
  
    <h5 class="fw-semibold">Tags:</h5>
    <ul>
      <li class="bg-dark text-light" *ngFor="let tag of product['tags']">{{ tag }}</li>
    </ul>
  
    <h5 class="fw-semibold mt-5">Reviews:</h5>
    <div *ngFor="let review of product['reviews']">
      <p><strong>{{ review['reviewerName'] }}</strong> ({{ review['rating'] }}⭐)</p>
      <p>{{ review['comment'] }}</p>
      <hr />
    </div>
    <h5 class="fw-semibold">Barcode & QR Code:</h5>
    <p><strong>Barcode:</strong> {{ product['meta']?.barcode }}</p>
    <img [src]="product['meta']?.qrCode" alt="QR Code" class="qr-code" />
  </div>

  <div *ngIf="loading" class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  