<main class="main">
  <div class="content text-center mb-5">
     <h1 class="text-primary">{{title}}</h1>    
     <h2 class="text-success my-3">Total Click {{count}} </h2>
     <button (click)="addCount()" >Click me</button>
  </div>
  <div class="text-center">
     <h1>Products List</h1>
  </div>
    <div *ngIf="!loading"  class="row g-3 p-3">
      <app-jokecard *ngFor="let item of productsData"  
                    [product]="item" 
                   class="col-lg-3 col-md-4 col-sm-6 col-12" [product]="item"></app-jokecard>
   </div>
    <div *ngIf="loading" class="text-center fw-bold p-5">
           Loading .... 
    </div>


</main>


<router-outlet />
